#global-dos .input-group{
    height: 35px;
}
#global-dos .form-control{
    height: 35px;
}

#global-tres .btn-primary{
    height:35px;
}

#parte1{
    width: 300px;
    height: 440px;
    background-color:#e8e8e8;
    float:left;
}





#fotoperfil{
    width: 145px;
    height: 145px;
    border-radius:50%;
    text-align: center;
    margin-top:15px;
    background-image: url('/img/usuario.png');
    background-repeat: no-repeat;
    background-size: 145px 145px;
}




#fotoperfil .custom-file{
    border-radius: 50%;
    width: 45px;
    height:43px;
    margin-left:100px;
    margin-top:90px;
}
#pr{
    color: #0066b2;
    margin-top:-49px;
    margin-left:-19px;
    position: absolute;
}


#fotoperfil .custom-file-input{
    width:45px;
    height:43px;
    font-family:'Montserrat-Light',arial;
    border-radius:50%;
}





#tel{
    margin-top:35px;
    width:265px;
    height: 100px;
    border-radius: 5px;
    background-color:#e8e8e8;
}


#tel .form-control{
    height:36px;
    width:270;
    border-radius: 5px;
    background-color:#acacac;
    margin-top:0px;
    border-color:#acacac;
    color:white;
    font-family:Montserrat Light;
    font-size:18px;
}
#tel .form-control::placeholder{
    color:white;
}

.card-img-top{
    border-radius:50%;
    background-color: #acacac;
}


#parte2{
    width: 804px;
    height: 440px;
    background-color:#e8e8e8;
    float:right;
    margin-left:34px;
}


#pdos{
    margin-top:25px;
    width:740px;
    height: 85%;
    border-radius: 5px;
    background-color:#e8e8e8;
    margin-bottom:20px;
    padding-top:-2px;
}


#pdos .form-control{
    height:36px;
    width:250;
    border-radius: 5px;
    background-color:#acacac;
    margin-top:0px;
    border-color:#acacac;
    color:white;
    margin-left:3px;
    font-family:Montserrat Light;
    font-size:18px;
}
#pdos .form-control::placeholder{
    color:white;
}


#date{
    width:400px;
    background-color:#e8e8e8;
    margin-right:58%;
}
#date .form-control{
    width:60px;
    font-family:Montserrat Light;
    font-size:18px;
    color:white;
}
#date .form-control::placeholder{
    color:white;
}





#ids{
    width:749px;
    background-color:#e8e8e8;
    margin-right:58%;
    border-radius:5px;
    height:95px;
}

#ids .input-group{
    width:170px;
    height:80px;
    border-radius:6px;
    font-family:'Montserrat-Light',arial;
    text-align: bottom;
    
}
#ids .custom-file{
    width:170px;
    height:75px;
    background-color: #acacac;
    border-radius:6px;

}
#txt{
    margin-right:0px;
    margin-top:10px;
    position: absolute;
    margin-left:31px;
}
#txt p{
    font-family:'Montserrat-Light', arial;
    font-size:16px;
    color: #636363;
    text-align: center;
    letter-spacing: 1px;
}
#txt2{
    margin-right:0px;
    margin-top:7px;
    position: absolute;
    margin-left:40px;
}
#txt2 p{
    font-family:'Montserrat-Light', arial;
    font-size:12px;
    color: #636363;
    text-align: center;
    letter-spacing: 1px;
}
.fa-cloud-upload{
    color: #636363;
}

#ids .custom-file-input{
    width:170px;
    height:78px;
    font-family:'Montserrat-Light',arial;
    border-radius:6px;
}



body{
    font-family:'Montserrat-Light',arial;
}
#validate{
    width: 120px;
    float: right;
    margin-right: 10px;
    margin-left:257px;
    margin-bottom: -20px;
}

#validate .btn-primary{
    width:120px;
    border-radius:5px;
    height:35px;
    font-family: 'Montserrat-Light', arial;
    color: white;
    float: right;
    font-size: 14px;
}



#title2{
    width:315px;
    height:40px;
    background-color:#0066b2;
    margin-top:50px;
    border-radius:30px;
    margin-left: -40px;
    float:left;
}

#title2 h3{
    font-family: Montserrat Light;
    font-size: 20px;
    text-align:right;
    margin-top:8px;
    margin-right:30px;
    color:white;
}


#fondo{
    width: 100%;
    height: 410px;
    margin-top:90px;
}


#fondo2{
    width: 90%;
    height: 350px;
    background-color:white;
    margin-top:50px;
    margin-left:120px;
}



#Primaria{
    width:900px;
    height:40px;
    margin-left:10px;
    margin-top:10px;
    font-family: Montserrat Light;
    font-size: 20px;
    padding-top:10px;
}


#Primaria .btn{
    border-color:#acacac;
    background-color:#acacac;
    color: white;
    border-radius:5px;
    width:200px;
    font-size:20px;
    font-family: Montserrat Light;
    height:40px;
}

#Primaria .btn:hover{
    background-color:#0066b2;
    border-color:#0066b2;
}


#Primaria .input-group{
    background-color:#acacac;
    width:600px;
    margin-left:20px;
    height:40px;
    border-radius:5px;
    color:white;
    margin-top:1px;
}


#Primaria .form-control{
    background-color:#acacac;
    width:600px;
    color:white;
    scrollbar-arrow-color:white;
    height: 40px;
    border-radius:5px;
    font-size:18px;
}


#Primaria .form-control::placeholder{
    color:white;
}
#fnpr{
    display: none;
}





#Secundaria{
    width:900px;
    height:40px;
    margin-left:10px;
    margin-top:10px;
    font-family: Montserrat Light;
    font-size: 20px;
    padding-top:10px;
}


#Secundaria .btn{
    border-color:#acacac;
    background-color:#acacac;
    color: white;
    border-radius:5px;
    width:200px;
    font-size:20px;
    font-family: Montserrat Light;
    height:40px;
}

#Secundaria .btn:hover{
    background-color:#0066b2;
    border-color:#0066b2;
}


#Secundaria .input-group{
    background-color:#acacac;
    width:600px;
    margin-left:20px;
    height:40px;
    border-radius:5px;
    color:white;
    margin-top:1px;
}


#Secundaria .form-control{
    background-color:#acacac;
    width:600px;
    color:white;
    scrollbar-arrow-color:white;
    height: 40px;
    border-radius:5px;
    font-size:18px;
}


#Secundaria .form-control::placeholder{
    color:white;
}

#fnse{
    display: none;
}








#Bachillerato{
    width:900px;
    height:40px;
    margin-left:10px;
    margin-top:10px;
    font-family: Montserrat Light;
    font-size: 20px;
    padding-top:10px;
}


#Bachillerato .btn{
    border-color:#acacac;
    background-color:#acacac;
    color: white;
    border-radius:5px;
    width:200px;
    font-size:20px;
    font-family: Montserrat Light;
    height:40px;
}

#Bachillerato .btn:hover{
    background-color:#0066b2;
    border-color:#0066b2;
}


#Bachillerato .input-group{
    background-color:#acacac;
    width:600px;
    margin-left:20px;
    height:40px;
    border-radius:5px;
    color:white;
    margin-top:1px;
}


#Bachillerato .form-control{
    background-color:#acacac;
    width:600px;
    color:white;
    scrollbar-arrow-color:white;
    height: 40px;
    border-radius:5px;
    font-size:18px;
}


#Bachillerato .form-control::placeholder{
    color:white;
}

#fnba{
    display: none;
}





#Universidad{
    width:900px;
    height:40px;
    margin-left:10px;
    margin-top:10px;
    font-family: Montserrat Light;
    font-size: 20px;
    padding-top:10px;
}


#Universidad .btn{
    border-color:#acacac;
    background-color:#acacac;
    color: white;
    border-radius:5px;
    width:200px;
    font-size:20px;
    font-family: Montserrat Light;
    height:40px;
}

#Universidad .btn:hover{
    background-color:#0066b2;
    border-color:#0066b2;
}


#Universidad .input-group{
    background-color:#acacac;
    width:600px;
    margin-left:20px;
    height:40px;
    border-radius:5px;
    color:white;
    margin-top:1px;
}


#Universidad .form-control{
    background-color:#acacac;
    width:600px;
    color:white;
    scrollbar-arrow-color:white;
    height: 40px;
    border-radius:5px;
    font-size:18px;
}


#Universidad .form-control::placeholder{
    color:white;
}

#fnun{
    display: none;
}






#Posgrado{
    width:900px;
    height:40px;
    margin-left:10px;
    margin-top:10px;
    font-family: Montserrat Light;
    font-size: 20px;
    padding-top:10px;
}


#Posgrado .btn{
    border-color:#acacac;
    background-color:#acacac;
    color: white;
    border-radius:5px;
    width:200px;
    font-size:20px;
    font-family: Montserrat Light;
    height:40px;
}

#Posgrado .btn:hover{
    background-color:#0066b2;
    border-color:#0066b2;
}


#Posgrado .input-group{
    background-color:#acacac;
    width:600px;
    margin-left:20px;
    height:40px;
    border-radius:5px;
    color:white;
    margin-top:1px;
}


#Posgrado .form-control{
    background-color:#acacac;
    width:600px;
    color:white;
    scrollbar-arrow-color:white;
    height: 40px;
    border-radius:5px;
    font-size:18px;
}


#Posgrado .form-control::placeholder{
    color:white;
}

#fnpo{
    display: none;
}












#titletres{
    width: 280px;
    height: 40px;
    background-color: #0066b2;
    border-bottom-right-radius: 30px;
    border-top-right-radius: ;
    margin-left: -110px;
    float: left;
    margin-top:-60px;
}


#titletres h3{
    font-family: Montserrat Light;
    font-size:20px;
    text-align: right;
    margin-top: 8px;
    margin-right: 30px;
    color:white;
}


#fondoidioma{
    width: 100%;
    height: 100px;
}

#espanol{
    border-radius:50%;
    width: 85px;
    height: 80px;
    float:left;
    margin-left:205px;
    background-color: #acacac;
    font-family:Montserrat Light;
    
}

#ingles, #chino, #aleman, #frances, #italiano, #otro{
    border-radius:50%;
    width: 85px;
    height: 80px;
    float:left;
    margin-left:40px;
    background-color: #acacac;
    font-family:Montserrat Light;
    
}


#fondoidioma .btn{
    border-color:#acacac;
    background-color:#acacac;
    color: white;
    border-radius:50%;
    width:85px;
    font-size:16px;
    height:80px;
}
#fondoidioma .btn:hover{
    border-color:#0066b2;
    background-color:#0066b2;
    border-radius: 50%;
}





#titlecuatro{
    width: 365px;
    height: 40px;
    background-color: #0066b2;
    margin-top: 60px;
    border-radius: 30px;
    margin-left: -120px;
    float: left;
}

#titlecuatro h3{
    font-family: Montserrat Light;
    font-size: 20px;
    text-align: right;
    margin-top: 8px;
    margin-right: 20px;
    color:white;
}

#fondoexperiencia{
    width: 100%;
    height: 350px;
    margin-top: 70px;
}


#fondoexperiencia .form-control{
    height:36px;
    width:850px;
    border-radius: 5px;
    background-color:#acacac;
    margin-top:15px;
    border-color:#acacac;
    color:white;
    margin-left:190px;
    font-family:Montserrat Light;
    font-size:18px;
}
#fondoexperiencia .form-control::placeholder{
    color:white;
}



#form-range{
    width: 450px;
    margin-right:30%;
    margin-left:200px;
}
#form-range .form-control{
    width:72px;
    font-family:Montserrat Light;
    margin-left: 15px;
    font-size:18px;
}
#form-range .form-control::placeholder{
    color:white;
}


#textarea{
    height: 120px;
}

#textarea .form-control{
    height: 120px;
    color:white;
    font-size:18px;
}

#textarea .form-control::placeholder{
    color:white;
}




/* SUB FORMS */


#fondoexperiencia2{
    width: 65%;
    height: 330px;
    margin-top: 70px;
    display: none;
    margin-right: 30%;
    margin-left:190px;
}


#fondoexperiencia2 .form-control{
    height:36px;
    width:850px;
    border-radius: 5px;
    background-color:#acacac;
    margin-top:15px;
    border-color:#acacac;
    color:white;
    font-family:Montserrat Light;
    font-size:18px;
}
#fondoexperiencia2 .form-control::placeholder{
    color:white;
}




#formrangedos{
    width: 700px;
    height: 45px;
    margin-top:5px;
}


#formrangedos .form-control{
    width: 11%;
    height: 36px;
    background-color:#acacac;
    margin-left:15px;
    font-family:Montserrat Light;
    font-size:18px;
    border-radius: 5px;
    border-color:#acacac;

}
#formrangedos .form-control::placeholder{
    color:white;
}

#textarea2{
    height: 120px;
}

#textarea2 .form-control{
    height: 120px;
    color:white;
    font-size:18px;
}

#textarea2 .form-control::placeholder{
    color:white;
}


/* FIN PRIMER SUBFORM */


/* SEGUNDO SUBFORM */








#form-range3{
    margin-left: 190px;
    width: 850px;
    margin-right:30%;
}
#form-range3 .form-control{
    width:60px;
    font-family:Montserrat Light;
    margin-left: 15px;
    font-size:18px;
}
#form-range3 .form-control::placeholder{
    color:white;
}



#textarea3{
    height: 120px;
}

#textarea3 .form-control{
    height: 120px;
    color:white;
    font-size:18px;
}

#textarea3 .form-control::placeholder{
    color:white;
}




/* FIN SEGUNDO SUBFORM */





#plus{
    border-radius: 50%;
    width:52px;
    height:50px;
    margin-top:20px;
    background-color: #acacac;
    margin-left:600px;
}


#plus .btn{
    width: 52px;
    height: 50px;
    border-radius:50%;
    color:white;
}


#plus .btn:hover{
    background-color: #0066b2;
    text-decoration-color: none;
}


#plus .fa-plus{
    color:white;
}







#plus2{
    border-radius: 50%;
    width:52px;
    height:50px;
    margin-top:20px;
    background-color: #acacac;
    margin-left:400px;
}


#plus2 .btn{
    width: 52px;
    height: 50px;
    border-radius:50%;
    color:white;
}


#plus2 .btn:hover{
    background-color: #0066b2;
    text-decoration-color: none;
}


#plus2 .fa-plus{
    color:white;
}












#titlecinco{
    width:240px;
    height:45px;
    float:left;
    background-color:#0066b2;
    border-radius:30px;
    margin-left:-30px;
}

#titlecinco h3{
    color:white;
    margin-top:8px;
    letter-spacing:2px;
    font-size:22px;    
    text-align: right;
    margin-right:30px;
    font-family: 'Montserrat-Light', arial;
}



#fondocat2{
    width:75%;
    height:260px;
    background-color:#eaeaea;
    margin-left:130px;
}

#fondocat2 p{
    color:#2e2e2e;
    font-family:'Montserrat-Light', arial;
    font-size:20px;
    margin-left:15px;
}
#cir{
    padding-left:85px;
    padding-right:100px;
    margin-top:20px;
}


#ofipopular{
    float:left;

    background-color:#acacac;
    position:relative;
    border-radius:50%;
    height:160px;
    width:165px;    
}

#servprofesional, #empleodiverso, #empleocorp{
    float:left;

    background-color:#acacac;
    position:relative;
    border-radius:50%;
    height:160px;
    width:165px;
    margin-left:60px;
    
}


#cir .btn{
    border-color:#acacac;
    background-color:#acacac;
    color: white;
    border-radius:50%;
    width:165px;
    font-size:20px;
    height:160px;
    font-family: 'Montserrat-Light', arial;
}
#cir .btn:hover{
    border-color:#0066b2;
    background-color:#0066b2;
    border-radius: 50%;
}

#btn-guardar{
    margin-top:20px;
    width:75%;
    height:60px;
    margin-left:130px;
}
#btn-guardar .btn-primary{
    width: 125px;
    height: 35px;
    color: white;
    font-size:16px;
    float:right;
    margin-right:5px;
}






